body {
  font-family: 'Poppins';
}

h1 {
  text-align: center;
  font-size: 48px;
  line-height: 1em;
  padding-bottom: 10px;
}

p {
  text-align: center;
  font-size: 30px;
  line-height: .1em;
}

canvas {
    border: solid 1px #000;
    border-radius: 8px;
    margin-top: 28px;
}

#level {
  text-align: center;
  margin: 4px;
  width: 83%;
  font-size: 30px;
}

#colored-glyph {
  text-align: center;
}

label {
  font-size: 24px;
  margin-right: 12px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-left: 12px;
}

select {
  text-align: center;
  margin: 4px;
  width: 85%;
  font-size: 28px;
}

button {
  text-align: center;
  margin-top: 16px;
  width: 95%;
  font-size: 32px;
  padding: 4px;
}

.centered {
  text-align: center;
  margin: 0 auto;
}

#details-block {
  display: none;
  font-size: 16px;
}

.tooltip {
  position: relative;
  display: inline-block;
  width: 100%;
}

.tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  bottom: 100%;
  left: 50%;
  margin-left: -100px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}